{{ define "main" }}

<style>
  .title {
    border: 2px solid {{ $.Asso.AccentColor }};
    text-align: center;
    font-size: larger;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 4px;
  }

  td {
    padding: 4px;
    border-bottom: 1px solid black;
  }
</style>

<!-- Titre et destinataire -->

<div style="display: flex; justify-content: space-between; margin: 16px 0px">
  <div style="align-self: center">
    <div class="title">Facture</div>
    <div style="font-style: italic; font-size: 10pt">
      Edition au {{ .Date }}
    </div>
  </div>
  <div>
    <div>{{ .Destinataire.NomPrenom }}</div>
    <div>{{ .Destinataire.Adresse }}</div>
    <div>{{ .Destinataire.CodePostal }} {{ .Destinataire.Ville }}</div>
  </div>
</div>

<table
  style="
    table-layout: fixed;
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 11pt;
  "
>
  <tr class="asso-primary-colors">
    <th style="padding: 2px">Participant</th>
    <th style="padding: 2px">Camp</th>
    <th style="padding: 2px">Dates</th>
    <th style="padding: 2px">Prix</th>
    <th style="padding: 2px">Aides extérieures</th>
    <th style="padding: 2px">Sous-total</th>
  </tr>
  {{ range .Participants }}
  <tr>
    <td>{{ .Personne.NOMPrenom }}</td>
    <td>{{ .Camp.Label }}</td>
    <td>du {{ .Camp.DateDebut.String }}<br />au {{ .Camp.DateFin.String }}</td>
    <td>{{ .Finances.AvecOption}} {{ .Finances.AvecOptionDescription }}</td>
    <td style="font-size: 10pt">
      {{ range .Finances.Aides }}
      <div>{{ .String }}</div>
      {{ end }}
    </td>
    <td style="text-align: right">{{ .Finances.AvecAides }}</td>
  </tr>
  {{ if ne .Finances.RemisesHTML "" }}
  <!-- Total remises -->
  <tr>
    <td colspan="5" style="font-size: 10pt">{{ .Finances.RemisesHTML }}</td>
    <td style="text-align: right">{{ .Finances.Net }}</td>
  </tr>
  {{ end }} {{ end }}
  <!-- Total (demandé) -->
  <tr>
    <td colspan="5" style="font-style: italic">Total (après remises)</td>
    <td style="font-weight: bold; text-align: right">
      {{ .Finances.Demande }}
    </td>
  </tr>
  <tr style="height: 20px">
    <td colspan="6"></td>
  </tr>

  <!-- Paiements -->
  {{ range .Paiements }}
  <tr>
    <td colspan="5">{{ .DescriptionHTML }}</td>
    <td style="text-align: right">{{ .Montant.String }}</td>
  </tr>
  {{ end }}

  <!-- Après paiement -->
  <tr>
    <td colspan="5" style="font-style: italic">Total (après paiements)</td>
    <td style="font-weight: bold; text-align: right">
      {{ .Finances.Restant }}
    </td>
  </tr>
</table>

{{ if .IsAcquitte}}
<div style="margin-top: 10px">
  <i> Facture acquittée par {{ .Asso.Title }}. </i>
</div>
{{ end }} {{ end }}
