{{ define "content" }}
<p>
  Pour confirmer votre inscription, nous vous demandons de bien vouloir
  <b>valider votre adresse mail</b> en cliquant sur le lien ci-dessous.
</p>

<table width="100%" style="text-align: center" cellpadding="5">
  <tr>
    <td></td>
    <td width="35%" bgcolor="#feee00">
      <a
        style="
          text-decoration: none;
          color: #000000;
          display: inline-block;
          width: 100%;
        "
        href="{{ .URL }}"
        ><b>VALIDER MON ADRESSE</b></a
      >
    </td>
    <td></td>
  </tr>
</table>

{{ end }}
