{{ define "content" }}
<table cellpadding="0">
  <tr>
    <td>
      Nous vous remercions pour votre inscription. Vous pouvez maintenant
      procéder au <b>règlement de la pension</b>. Nous vous invitons pour cela à
      choisir un des moyens de paiement décrits sur votre espace personnel
      (bouton ci-dessous).
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" style="text-align: center" cellpadding="10">
        <tr>
          <td></td>
          <td width="35%" bgcolor="#feee00" align="center">
            <a
              style="
                text-decoration: none;
                color: #000000;
                display: inline-block;
                width: 100%;
              "
              href="{{ .EspacePersoURL }}"
            >
              <b>MON ESPACE</b>
            </a>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{ end }}
