{{ define "content" }}
<table cellpadding="0">
  <tr>
    <td>
      Le séjour {{ .CampLabel }} se rapproche à grands pas et toute l'équipe se
      réjouit de vous y retrouver !
      <br />
      Vous trouverez sur votre espace personnel tous les documents nécessaires
      au séjour (bouton ci-dessous). Nous nous invitons à les consulter pour
      préparer au mieux le séjour.
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" style="text-align: center" cellpadding="10">
        <tr>
          <td></td>
          <td width="35%" bgcolor="#feee00" align="center">
            <a
              style="
                text-decoration: none;
                color: #000000;
                display: inline-block;
                width: 100%;
              "
              href="{{ .EspacePersoURL }}"
            >
              <b>MON ESPACE</b>
            </a>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{ end }}
