{{ define "content" }}
<table cellpadding="0">
  <tr>
    <td>
      Alors que le séjour {{ .CampLabel }} s'est terminé, nous avons à cœur de
      vous laisser la parole pour connaître votre opinion. Vos suggestions,
      remarques, ressentis, nous aiderons à améliorer nos séjours. Merci
      d'avance du temps que vous réserverez pour répondre à cette courte enquête
      (3 min).
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" style="text-align: center" cellpadding="10">
        <tr>
          <td></td>
          <td width="35%" bgcolor="#feee00" align="center">
            <a
              style="
                text-decoration: none;
                color: #000000;
                display: inline-block;
                width: 100%;
              "
              href="{{ .EspacePersoURL }}"
            >
              <b>RÉPONDRE</b>
            </a>
          </td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{ end }}
