{{ define "content" }}
<table cellpadding="0">
  <tr>
    <td>
      {{ if .FromFondsSoutien }} Vous avez reçu le message ci-dessous, de la
      part du fonds de soutien. {{ else }} Vous avez reçu le message ci-dessous.
      {{ end }}
    </td>
  </tr>
  <tr>
    <td style="font-style: italic">
      <br />
      {{ .Contenu }}
    </td>
  </tr>
  <tr>
    <td>
      <br />
      Vous pouvez répondre à ce message ou consulter votre dossier en cliquant
      sur le bouton ci-dessous.
    </td>
  </tr>
  <tr>
    <td>{{ template "espacePersoButton" . }}</td>
  </tr>
</table>
{{ end }}
