{{ define "content" }}
<table>
  <tr>
    <td>
      Envie d'avoir un aperçu des activités du séjour {{ .Camp }} ? Des photos
      sont disponibles (ou le seront très prochainement) sur un espace dédié,
      accessible en suivant le lien ci-dessous.
    </td>
  </tr>
  <tr>
    <td>{{ template "espacePersoButton" . }}</td>
  </tr>
  <tr>
    <td>
      Vous pourrez aussi retrouver ce lien de connexion sur votre espace
      d'inscription.
    </td>
  </tr>
  <tr>
    <td>Bon visionnage !</td>
  </tr>
</table>
{{ end }}
