{{ define "content" }}
<p>
  Afin de garantir la protection de vos données personnelles, l'accès à la fiche
  sanitaire de
  <i>{{ .Participant }}</i>
  est protégé. Vous pouvez le débloquer en cliquant sur le lien ci-dessous.
</p>

<table width="100%" style="text-align: center" cellpadding="5">
  <tr>
    <td></td>
    <td width="35%" bgcolor="#feee00">
      <a
        style="
          text-decoration: none;
          color: #000000;
          display: inline-block;
          width: 100%;
        "
        href="{{ .URL }}"
        ><b>PARTAGER</b></a
      >
    </td>
    <td></td>
  </tr>
</table>

<p>
  La nouvelle adresse mail <b>{{ .NewMail }}</b> y aura alors accès en lecture
  et en écriture.
</p>

<p>
  Si vous (ou un de vos proches) <i>n'êtes pas à l'origine</i> de cette demande,
  merci de ne pas cliquer sur le lien et de nous contacter.
</p>

{{ end }}
