{{ define "content" }}
<p>
  Afin de garantir la protection de vos données personnelles, l'accès à la fiche
  sanitaire de
  <i>{{ .Participant }}</i>
  est protégé. Vous pouvez le débloquer en cliquant sur le lien ci-dessous.
</p>

{{ template "espacePersoButton" . }}

<p>
  La nouvelle adresse mail <b>{{ .NewMail }}</b> y aura alors accès en lecture
  et en écriture.
</p>

<p>
  Si vous (ou un de vos proches) <i>n'êtes pas à l'origine</i> de cette demande,
  merci de ne pas cliquer sur le lien et de nous contacter.
</p>

{{ end }}
